# Ignore everything
*

# Keep .gitignore itself
!.gitignore

# Allow the folder
!classificationModels/



# Ignore everything else in the folder
classificationModels/*


!classificationModels/decision_tree.pkl
!classificationModels/logistic_regression.pkl
!classificationModels/vectorizer.pkl
